# Dealing with Reality: Control Flow and Iterables

# Contents:

1. Logic, Revisited
2. Control Flow: Conditionals
3. Collections of Values
  1. Lists and Tuples
  3. Sets
  4. Dictionaries
4. Control Flow: Iteration

# Logic

## Logic Operators

Earlier, we introduced the `bool` data type, which has only two possible values: `True` and `False`. There are _Boolean_ or _logic operators_ that work with Boolean values:

* `not`: negates the truth value of the statement
* `and`: check if the statements on both sides are true
* `or`: check if at least one of the statements are true

## `not`

|X|`not` X|
|-|-|
|True|False|
|False|True|

In [ ]:
not True

In [ ]:
3 == 3

In [ ]:
not (3 == 3)

## `and`

Evaluates to `True` if both statements are true.

|X|Y|X `and` Y|
|-|-|-|
|True|True|True|
|False|True|False|
|True|False|False|
|False|False|False|

In [ ]:
7 == 7.0 and 32 > 9

In [ ]:
'Python' == 'python' and True

In [ ]:
is_summer = True
is_sunny = True
is_summer and is_sunny

**Note that the behavior of the `and` operator returns the first falsy value encountered or the last truthy value if all operands are `true` based on the conditions provided.**

**Example 1:**
```python
is_winter = "True"  # String with value "True"
is_cloudy = True     # Boolean with value True

# Explanation:
# - `is_winter` is a non-empty string, which in a Boolean context, is considered `True` (non-empty strings are truthy in Python).
# - `is_cloudy` is a Boolean with a value of `True`.
# - When you use the `and` operator, both conditions are `True`. 
# - According to the behavior of the `and` operator, it returns the second operand (`is_cloudy`) because both operands are truthy.
# Therefore, the result is `True`.
result = is_winter and is_cloudy
print(result)  # Output: True
```

**Example 2:**
```python
is_winter = True     # Boolean with value True
is_cloudy = "True"   # String with value "True"

# Explanation:
# - `is_winter` is a Boolean with a value of `True`.
# - `is_cloudy` is a string with the value `"True"`.
# - When you use the `and` operator, Python evaluates the first operand (`is_winter`).
# - Since it's True, it then evaluates the second operand.
# - In logical operations, Python doesn't convert the string "True" to a Boolean; instead, it returns the second operand (is_cloudy) which is the string "True" itself.
result = is_winter and is_cloudy
print(result)  # Output: "True"
```

**Example 3:**
```python
# Explanation:
# - `"Python"` is a non-empty string, which is considered truthy.
# - `"python"` is also a non-empty string, which is also considered truthy.
# - Since both operands are truthy, the `and` operator returns the last evaluated operand, which is `"python"`.
# This happens because Python doesn't directly return a Boolean result for non-Boolean operands in an `and` operation.
result = "Python" and "python"
print(result)  # Output: "python"
```

## `or`

Evaluates to `True` if just one of the statements is true.

|X|Y|X `or` Y|
|-|-|-|
|True|True|True|
|False|True|True|
|True|False|True|
|False|False|False|

In [ ]:
'Python' == 'python' or True

In [ ]:
not (7 % 2 == 1) or False

**The behavior of the `or` operator returns the first truthy value encountered or the last falsy value if all operands are `False` based on the conditions provided.**

**Example 1:**
```python
is_winter = "True"  # String with value "True"
is_cloudy = True     # Boolean with value True

# Explanation:
# - `is_winter` is a non-empty string, which is considered truthy.
# - `is_cloudy` is a Boolean with a value of `True`.
# - When you use the `or` operator, the first operand "is_winter" is truthy, so it returns the first truthy value, which is "True".
print(result)  # Output: "True"
```

**Example 2:**
```python
is_winter = True     # Boolean with value True
is_cloudy = "True"   # String with value "True"

# Explanation:
# - `is_winter` is a Boolean with a value of `True`.
# - `is_cloudy` is a string with the value `"True"`.
# - When you use the `or` operator, the first operand "is_winter" is truthy.
# - The second operand is a comparison expression, which evaluates to True because "is_cloudy" is equal to "True".
# Since the first operand is truthy, the `or` operator returns the first truthy value, which is True.
print(result)  # Output: True
```

**Example 3:**
```python
# Explanation:
# - `"Python"` is a non-empty string, which is considered truthy.
# - `"python"` is also a non-empty string, which is also considered truthy.
# - Since both operands are truthy, the `or` operator returns the first truthy value, which is "Python".
print(result)  # Output: "Python"
```

To summarize, the `or` operator returns the first truthy value encountered or the last falsy value if all operands are `False`.

## To avoid confusion and ensure consistent behaviour, it's recommended to use Boolean values (`True` or `False`) explicitly when working with logical operations to ensure predictable outcomes based on Boolean logic.

## Operator precedence

Boolean operators are evaluated after arithmetic and comparison operators.

| Order | Operator | Description |
|---|---|---|
| 1 | `**` | Exponentiation |
| 2 | `-`| Negation |
| 3 | `*`, `/`, `//`, `%` | Multiplication, division, integer division, and modulo |
| 4 | `+`, `-` | Addition and subtraction |
| 5 | `<`, `<=`, `>`, `>=`, `==`, `!=` | Less than, less than or equal to, greater than, greater than or equal to, equal, not equal |
| 6 | `not` | Not |
| 7 | `and` | And |
| 8 | `or` | Or|

# Control Flow

## What is control flow?

_Control flow_ refers to the way computers execute programs. More specifically, control flow determines the order in which functions are called and statements are executed. Up until now, the code we have written has been more or less linear.

## Conditionals

With a conditional statement, Python will run different lines of code depending on whether the condition is met -- in other words, whether the condition evaluates to `True`.

### `if`

Conditional statements start with `if` followed by a condition. If the condition evaluates to `True`, the indented code block below the `if` statement runs. If the condition evaluates to `False`, the code block does not run.

In [ ]:
year = 2022

if year >= 2000:
    print('We are in the 21st century.')

### `else`

We can use an `else` statement to tell Python what code to run if the condition evaluates to `False`. An `else` statement must always be paired with an `if` statement, but as we have seen, `if` statements do not need to be paired with `else`.

In [ ]:
year = 1999

if year >= 2000:
    print('We are in the 21st century.')
else:
    print('We are not in the 21st century.')

### `elif`

We can evaluate several conditions one after another with `elif`, which is short for "else if". Conditions are checked in the order they appear. Python will execute the code block under the first `True` condition and skip subsequent `elif` and `else` statements after without evaluating them.

In [ ]:
year = 1867

if year >= 2000:
    print('We are in the 21st century.')
elif year >= 1900:
    print('We are in the 20th century.')
elif year >= 1800:
    print('We are in the 19th century.')
elif year >= 1700:
    print('We are in the 18th century.')
else:
    print('We have gone way back in time!')

## Exercise
Write a program where it outputs how cold the weather is based on these conditions:
* Less than 0C, it is freezing cold!
* Between 1 and 15C, it is cold!
* Between 16 and 30C, it is hot!
* Between 31 and 45C, it is really hot!
* Over 45C, it is extremely hot!

In [ ]:
# Your code goes here

### Building more complex conditionals with logical operators

We can use logical operators to check more complex conditions.

In [ ]:
day_of_week = 'Thursday'

if day_of_week == 'Saturday' or day_of_week == 'Sunday':
    print('Weekend')
else:
    print('Weekday')

### Nested conditionals

Conditionals can be nested within one another. This offers another way to test more complex conditionals. Whether to use conditions with logical operators, nested conditionals, or both can depend on personal preference and what we're trying to check.

### Conditionals in functions

We can also use conditionals in functions to return different values.

#### Example: Will OHIP cover an eye exam?

OHIP covers eye exams [in some cases](https://www.ontario.ca/page/what-ohip-covers#section-6). We can translate the eligibility criteria into conditionals.

In [ ]:
def eye_exam_covered(age, qualifying_condition, time_since_last_exam):
    if age <= 19:
        if time_since_last_exam >= 12:
            return "You are eligible for 1 major eye exam and any minor assessments."
        else:
            return "It hasn't been 12 months since your last major eye exam."
    elif 20 <= age <= 64:
        if qualifying_condition:
            if time_since_last_exam >= 12:
                return "You are eligible for 1 major eye exam and 2 additional follow-up minor assessments."
            else:
                return "It hasn't been 12 months since your last major eye exam."
        else:
            return "You do not have an eligible medical condition affecting your eyes."
    elif age >= 65:
        if time_since_last_exam >= 18:
            return "You are eligible for 1 major eye exam and 2 additional follow-up minor assessments."
        else:
            return "It hasn't been 18 months since your last major eye exam."
    else:
        return "Invalid age input."

In [ ]:
eye_exam_covered(19, False, 11)

In [ ]:
eye_exam_covered(27, True, 15)

# Collections of values

## Working with multiple values

So far, we've worked with individual values: integers, floating point numbers, strings, and Booleans. However, we often want to work with groups of values

Python offers built-in data types to store and work with multiple values together. They are _lists_, _tuples_, _sets_, and _dictionaries_.

## Lists

Python lists let us store and work with multiple values at once. We can create a list by putting values in square brackets (`[]`)

## Creating lists

We can create a list by putting values in square brackets.

In [ ]:
vowels = ['a', 'e', 'i', 'o', 'u']
print(f'{vowels} are vowels.')

We can create an empty list by just using square brackets with nothing in them. It is also possible to create an empty list with the `list()` function, but this is not considered best practice.

In [ ]:
# create an empty list the conventional way
empty_list = []
print('empty_list is', type(empty_list))

# this also works
empty_list2 = list()
print('empty_list2 is', type(empty_list2))

The values in a list can be different types. They can also repeat.

In [ ]:
# all valid lists!
scores = [90, 80, 82, 91, 80]
grades = ['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
summary_functions = [len, sum, max, min]

We can even store lists within lists. The list below is written out over multiple lines so that it is easier to read.

In [ ]:
mystery_solvers = [
    ['Sherlock', 'Watson'],
    ['Scooby', 'Shaggy', 'Fred', 'Velma', 'Daphne'],
    'Poirot'
]

## Accessing items in a list

Lists are _ordered_, which means that each item in a list can be referenced by its index, or position in the list. Just like getting characters from a string, we can get items from a list by index. We can also slice lists by providing the indices to start and end at in square brackets, separated by a colon. Negative indices count backwards from the end. If we try to access an item at an index that doesn't exist, we will get an error.

In [ ]:
# get the first school grade
grades[0]

In [ ]:
# get middle school grades
grades[6:9]

In [ ]:
# get high school grades
grades[-4:]

In [ ]:
grades[13]

### List membership

We can check if a value is in a list with the `in` operator.

In [ ]:
# recall the vowels list
vowels

In [ ]:
'e' in vowels

## Mutating lists

Lists are _mutable_, which means they can be modified in place. In contrast, data types like strings and numbers are _immutable_. They cannot be changed. When we update a string or numeric variable, we are actually replacing the value entirely.

To _mutate_, or change a value in a list, we access it by its index and assign the new value.

In [ ]:
perfect_squares = [1, 4, 9, 16, 25, 37, 49]

# fix the error
perfect_squares[5] = 36
perfect_squares

## Mutator beware

List variables behave in ways that can be surprising.

In [ ]:
sandwich = ['bread', 'cheese', 'bread']

In [ ]:
sandwich_copy = sandwich

In [ ]:
# change original sandwich filling
sandwich[1] = 'ham'

In [ ]:
sandwich_copy

In [ ]:
sandwich_copy[1] = 'tomato'
print(sandwich)
print(id(sandwich))
print(id(sandwich_copy))

### What just happened?

When we assign a value to a variable, the value is stored somewhere in the computer's memory. This somewhere has an _address_. Python keeps track of the addresses where different variable values can be found.

When we assigned `sandwich` to `sandwich_copy`, we did not actually tell Python that the value of `sandwich_copy` is `['bread', 'cheese', 'bread']`. We told Python that the value of `sandwich_copy` can be found at the same memory address as the value of `sandwich`.

Remember how we said that lists mutate "in place"? The "in place" refers to a place in memory. When we updated `sandwich`, we updated the value stored at the memory address linked to both `sandwich` and `sandwich_copy`. As a result, `sandwich_copy` is now also a ham sandwich.

Mutating `sandwich_copy` will similarly update the value of `sandwich`.

### Why doesn't this happen with string and numeric variables?

Because strings and numeric values are immutable, they cannot be changed in place. When we update a string or numeric variable, the memory address where the value is found changes.

In [ ]:
# Python tracks where in memory 1 is stored
a = 1

# Python will look for b's value at the same memory address as a's value
b = a

# 2 is stored at a new address. 1 is still stored at the old address
a = 2

# Python still looks to the old address a and b shared to find b's value
b

### Making an independent copy of a list

To make an independent copy of a list, we can pass the list we want to copy to the `list()` function.

In [ ]:
combo = ['burger', 'fries', 'drink']
kid_meal = list(combo)
combo[0] = 'chicken sandwich'
kid_meal

## Operations on lists

There are many ways to manipulate data in a list. Some produce summary statistics about the values in the list.

In [ ]:
len(perfect_squares)

In [ ]:
max(perfect_squares)

In [ ]:
sum(perfect_squares)

The `+` and `*` operators work on lists as well. `+` concatenates two lists.

In [ ]:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
characters = letters + numbers
characters

`*` repeats the list's items `int` times.

In [ ]:
letters * 2

In [ ]:
numbers * 2

In [ ]:
letters

Notice that `letters` did not change. `+` and `*` do not mutate lists.

## List methods

Lists, like strings, have their own methods. Remember that methods are called with the pattern `value.method(arguments)`.

Almost all list methods modify lists in place. That is, they mutate them.

### Adding items

We can add items to the end of a list with `append()` and `extend()`. `append()` takes one (and only one!) argument and tacks that value on to the end of a list.

In [ ]:
rainbow = ['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet']

In [ ]:
rainbow.append('purple')
rainbow

In [ ]:
# try appending a list
rainbow.append(['purple'])
rainbow

`extend()` also adds a single argument to the end of a list. Notice the difference -- it adds the argument value in pieces.

In [ ]:
rainbow.extend(['magenta', 'pink'])
rainbow

Strings get broken up into single characters.

In [ ]:
rainbow.extend('pale pink')
rainbow

And numbers don't work with `extend()` at all.

In [ ]:
rainbow.extend(2.3)

What happens if we try to append data and assign the list to a new variable?

In [ ]:
new_rainbow = rainbow.append('dark purple')
print(new_rainbow)

**List methods that only mutate a list return `None`, or no data.** The data we're looking for is in the original list.

### Inserting items

If we want to add an item somewhere else to a list besides the end, we can use the `insert()` method, passing in the index to insert data into and what value to put in. Like the `append()` and `extend()`, `insert()` modifies the list in place.

In [ ]:
rainbow.insert(6, 'indigo')
rainbow

### Removing items

We can remove items by value with the `remove()` method. Notice that `remove()` only gets rid of the first match.

In [ ]:
rainbow.remove('p')
rainbow

We can also remove one or more items by index with the `del` operator.

In [ ]:
# get rid of all the stuff we appended and extended
del rainbow[-13:]
rainbow

To empty a list out completely, we can `clear()` it.

In [ ]:
rainbow.clear()
rainbow

## Sorting lists

Lists are ordered, which means that the elements maintain a specific sequence, and this sequence is preserved. You can access elements by their index (position) in the collection.

Since lists are ordered you are able to sort them, and there are two ways to do this. Which way to use depends on if we want to modify the original list in place or if we want to make a brand new list.

It can be easier to follow code that creates a brand new list. Mutating the original list, on the other hand, is more efficient for large lists.

### Modifying in place

The `sort()` method reorders a list's values in place and returns `None`.

In [ ]:
fruits = ['pineapple', 'apple', 'kiwi', 'banana']
print(f'Output of sort(): {fruits.sort()}')
print(f'Original list: {fruits}')

### Make a new sorted list

The `sorted()` function takes a list as an argument and returns a new list with sorted values.

In [ ]:
veggies = ['potato', 'celery', 'cabbage', 'bell pepper', 'onion']
print(f'Output of sorted(): {sorted(veggies)}')
print(f'Original list: {veggies}')

### Defining sorting criteria

By default, numerical data types (integers and floats) will be sorted in ascending order. For strings, will be sorted alphabetically based on the Unicode code point value of each character. This means strings are sorted lexicographically (dictionary order) where uppercase letters come before lowercase letters due to their Unicode values. For example, in Unicode, 'A' (65) is less than 'a' (97), so uppercase letters come before lowercase letters in the default sort order.

Both `sort()` and `sorted()` take an optional `key` argument. We can pass any function name without parentheses to `key` depending on how we want to sort a list.

In [ ]:
def last_letter(text):
    return text[-1]

In [ ]:
sorted(veggies, key=last_letter)

We can use our own functions to even sort nested lists.

In [ ]:
students_per_class = [['Grade 9', 20], ['Grade 10', 17], ['Grade 11', 13], ['Grade 12', 22]]

In [ ]:
def second_element(item):
    return item[1]

In [ ]:
students_per_class.sort(key = second_element)
students_per_class

## Tuples

_Tuples_ are a built-in data type similar to lists. Like lists, they are ordered collections of values. We can store multiple values in them, access values by index, slice them, and do things like calculate their length.

**The key difference is that tuples are _immutable_: they cannot be changed once they are created.** We cannot update a tuple to add, remove, replace, or reorder items in place. This makes tuples a good choice for storing values that should be read-only.

## Creating tuples

We can create a tuple by surrounding values in parentheses.

In [ ]:
mutable_synonyms = ('changeable', 'fluctuating', 'inconstant', 'variable')
mutable_synonyms

To create an empty tuple, we can use either parentheses or the `tuple()` function. We can't add things to an empty tuple later!

In [ ]:
empty = ()
type(empty)

In [ ]:
also_empty = tuple()
type(also_empty)

In [ ]:
# not an actual tuple method
empty.append('hi')

## Working with tuples

Functions that work on lists _and do not modify the list in place_ also work on tuples.

In [ ]:
len(mutable_synonyms)

In [ ]:
sorted(mutable_synonyms)

In [ ]:
mutable_synonyms + ('modifiable', 'shifting')

In [ ]:
# check that mutable_synonyms hasn't changed
mutable_synonyms

## Sets

_Sets_ are another built-in data type. Like lists, they are mutable. Unlike lists and tuples, the items in a set are **unordered and distinct**. 

Since sets are unordered, the elements do not maintain any specific order, and the order in which you iterate over the elements is not guaranteed to be the same as the order in which you inserted them. 

Since sets are distinct, all elements are unique. This means that when you create a set or add elements to it, duplicates will be automatically removed. Also, if you try to add an element that is already present in the set, the set will not change. 

This makes them well-suited for cases where we do not want any duplicates in our data, like when de-duping a list or comparing unique values.

## Creating Sets

We can create a set by surrounding values in curly braces.

In [ ]:
things = {'coat', 'lock', 'box', 'book', 'apple', 'hair','xylophone', 'lock', 'book'}
things

In [ ]:
# turn a list into a set to remove duplicates
visitor_post_codes = ['M5R', 'M5V', 'M1M', 'M1M', 'M1T']
set(visitor_post_codes)

The only way to create an empty set is with the `set()` function.

In [ ]:
empty_set = set()
empty_set

## Working with sets

Sets are mutable, so we can add and remove items, and the set will be modified in place. This also means we have to be careful when setting one set equal to another -- modifying one means modifying both!

If an item is already in a set, it won't be duplicated.

In [ ]:
# check for membership
'lock' in things

In [ ]:
# the set will not update
things.add('lock')
things

In [ ]:
# notice where mirror appears in the set
things.add('mirror')
things

In [ ]:
things.remove('apple')
things

Since sets are unordered, we cannot slice them or access items by index.

In [ ]:
things[1]

## Set operations

There are some operations that are unique to sets. A _union_ combines two sets to get the unique values in both. An _intersection_ finds the values two sets have in common. A _symmetric difference_ finds the values that are in only one of two sets. And _difference_ finds the values in the first set that are not in the second set.

Each operation has a corresponding set method.

In [ ]:
rainbow = {'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'}
olympic_flag = {'red', 'green', 'yellow', 'blue', 'black'}

In [ ]:
print(f'In the rainbow but not the Olympic flag: {rainbow.difference(olympic_flag)}')
print(f'In the Olympic flag but not the rainbow: {olympic_flag.difference(rainbow)}')

In [ ]:
print(f'Only in one: {rainbow.symmetric_difference(olympic_flag)}')

In [ ]:
print(f'Common colours : {rainbow.intersection(olympic_flag)}')

In [ ]:
print(f'All colours: {rainbow.union(olympic_flag)}')

## Dictionaries

Dictionaries are our last collection of data. They store data in _key:value_ pairs and let us look up values by key. Dictionaries, like lists, are ordered and mutable. Every key in a dictionary is unique.

## Creating dictionaries

To make a dictionary, we place curly braces around key:value pairs. Keys can be any immutable data type -- strings, numbers, Booleans, and tuples all work. Values can be any data type.

In [ ]:
capitals = {'Canada': 'Ottawa',
           'United States': 'Washington, D.C.',
           'Mexico': 'Mexico City'}
capitals

In [ ]:
olympics_cities = {2020: 'Tokyo', 2016: 'Rio de Janeiro', 2012: 'London'}
olympics_cities

We can nest dictionaries within dictionaries.

In [ ]:
all_olympics_hosts = {'summer': olympics_cities,
                     'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}
all_olympics_hosts

The preferred way to create an empty dictionary is with curly braces, but the `dict()` function also works.

In [ ]:
empty_dictionary = {}
type(empty_dictionary)

In [ ]:
still_empty = dict()
type(still_empty)

## Accessing, adding, and updating dictionary items

We access the content of a dictionary by specifying the dictionary, then the key to look up in square brackets. To access nested values, we _chain_ together bracket selections.

In [ ]:
olympics_cities[2016]

In [ ]:
all_olympics_hosts['winter'][2018]

Trying to access a key that doesn't exist results in an error.

In [ ]:
olympics_cities[2014]

The get() method provides a safe way to work with dictionary values. It takes the name of the key to look up and returns the corresponding value if the key exists; otherwise, it returns a specified default value without modifying the dictionary.

In [ ]:
olympics_cities.get(2004, 'Athens')

In [ ]:
olympics_cities

We can check to see if a key is in a dictionary with `in`.

In [ ]:
2016 in olympics_cities

In [ ]:
# 'in' looks for matching keys
'Rio de Janiero' in olympics_cities

If we assign a value to a key that doesn't exist, the key:value pair will be added to the dictionary. If we assign a value to a key that already exists, the value for that key will be updated.

In [ ]:
olympics_cities[2008] = 'Barcelona'
olympics_cities

In [ ]:
# fix 2008's city
olympics_cities[2008] = 'Beijing'
olympics_cities

### Mutations, mutations

Notice that updating a dictionary will also change other variables that reference it! Let's take a look at our `all_olympics_hosts` dictionary.

In [ ]:
all_olympics_hosts

## Deleting dictionary items

To remove a key:value pair from a dictionary, we can use the `del` operator.

In [ ]:
del olympics_cities[2020]
olympics_cities

## Dictionary methods

Python dictionaries have methods for getting keys, values, and items (that is, key:value pairs). This is useful for getting all dictionary keys, checking for values in a dictionary, and, as we'll see soon, working with keys, values, and items one-by-one.

In [ ]:
all_olympics_hosts.keys()

In [ ]:
if 'London' in olympics_cities.values():
    print('London was a host city')
else:
    print('London was not a host city')

In [ ]:
# get keys and values for the nested winter dictionary
all_olympics_hosts['winter'].items()

## Collections: a summary

(Adapted from: Table 17, Chapter 11, _Practical Programming: An Introduction to Computer Science Using Python 3.6_)

| Collection | Mutable? | Ordered? | Use when...|
|---|---|---|---|
| `str` | No | Yes | You want to keep track of text. |
| `list` | Yes | Yes | You want to keep track of and update an ordered sequence.|
| `tuple` | No | Yes | You want to build an ordered sequence that you know won't change or that you want to use as a key in a dictionary or as a value in a set. |
| `set` | Yes | No | You want to keep track of values, but order doesn't matter, and you don't want duplicates. The values must be immutable. |
| `dict` | Yes | No | You want to keep a mapping of keys to values. The keys must be immutable. |

# Control Flow: Iteration

## What are iteration and loops?

Earlier, we saw how to control the flow of a program through `if`/`elif`/`else` statements, which tell Python to run or skip blocks of code depending on whether a condition is met.

We can also tell Python to repeat code in a loop for a certain number of times or until a condition is met, a technique called _iteration_. For example, we may want to manipulate every item in a list individually. Copy/pasting code for each item is inefficient and error-prone. Instead, we can use one of Python's two loops: `for` loops or `while` loops.

## `for` loops

A `for` loop runs an indented block of code for every item in an _iterable_ -- a data type like a list, tuple, set, dictionary, or even string. When setting up a `for` loop, we have to specify a variable name to refer to individual items by. Try to pick one that makes sense, but if you're in a rush, `i` (for index) is conventional.

In [ ]:
for vowel in vowels:
    print(f'Give me an {vowel}!')

If we simply want to run a block of code _n_ number of times, we can use the `range()` function to create an iterable to loop over.

In [ ]:
for i in range(7):
    print(i, i*2)

We can use loops to build new lists (and other iterables).

In [ ]:
input_files = ['data_01.csv', 'data_02.csv', 'data_03.csv', 'data_04.csv']
output_files = []

for i in input_files:
    output_file_name = 'processed_' + i.replace('.csv', '.xlsx')
    output_files.append(output_file_name)

output_files

## Looping with multiple values

It is often useful to iterate over more than one value at once, such as when working with functions like `enumerate()` and methods like `dict.items()`, which give us index:value and key:value pairs, respectively. Because these methods give us two values at once, we need to supply two looping variables. The returned value pairs are _unpacked_ to our variables.

In [ ]:
stops = ['Sheppard-Yonge', 'Bayview', 'Bessarion', 'Leslie', 'Don Mills']
for idx, stop in enumerate(stops):
    print(f'Stop {idx + 1} is {stop}.')

In [ ]:
# double a list in place
numbers = [1, 10, 100, 1000]
for idx, val in enumerate(numbers):
    numbers[idx] = val * 2
numbers

## Looping over two iterables at once

To loop over more than one iterable at the same time, we can `zip()` them up. Note that if the iterables are different lengths, we won't get the "extra" values in the longer iterable.

In [ ]:
lats = (43.650, 45.520, 49.280)
lons = (-79.380, -73.570, -123.130)

for i, j in zip(lats, lons):
    print(f'({i}, {j})')

## Loops within loops

We can nest loops within each other, indenting once more each time. The variables from the higher-level loop are available at the lower levels.

One thing to keep in mind is that the number of times code runs increases very quickly with nested loops -- slightly longer iterables can mean a longer-running program than expected!

In [ ]:
for key, value in all_olympics_hosts.items():
    for year, city in value.items():
        print(f'The {year} {key.title()} Olympics were in {city}.')

In [ ]:
def print_table(n):
    """Print the multiplication table for numbers 1 through n inclusive.
    >>> print_table(3)
      1 2  3
    1 1 2  3
    2 2 4  6
    3 3 6  9
    """
    # The numbers to include in the table.
    numbers = list(range(1, n + 1))
    # Print the header row.
    for i in numbers:
        print(f'\t{i}', end='')
    # End the header row.
    print()
    # Print each row number and the contents of each row.
    for i in numbers:
        print (i, end='')
        for j in numbers:
            print(f'\t{i * j}', end='')
        # End the current row.
        print()

In [ ]:
print_table(5)

## `while` loops

What if we aren't sure how many times code needs to run, but we know how to tell when we're done? In that case, we can use a `while` loop, which runs an indented block of code until a condition is met.

In [ ]:
countdown = 4

while countdown > 0:
    print(countdown)
    countdown -= 1

## Infinite loops

What happens if we omit the last line of code in the countdown example? The countdown never changes, so it never hits zero, and our program keeps printing "4". We've just created an _infinite loop_.

(**NOTE**: If you try this, you will need to interrupt the program. In Anaconda, press `Ctrl+C` (Windows/Linux) or `Cmd+C` (Mac) on your keyboard or go to **Kernel --> Interrupt** in the toolbar. You may want to try this in a new notebook.)

In [ ]:
# uncomment the lines below to run
#countdown = 4

#while countdown > 0:
#    print(countdown)

Infinite loops are sometimes necessary. They are used extensively in gaming or to run a connection to a server, for example. To create an intentional infinite loop, we make the `while` condition `True`.

## `break`ing free

A `break` statement interrupts the execution of a loop.

In [ ]:
countdown = 4

while countdown > 0:
    print(countdown)
    if countdown == 3:
        print('We are breaking the loop early.')
        break
    countdown -=1

print('Done iterating.')

Even infinite loops can be exited.

In [ ]:
while True:
    password = input("What's the password? ")
    # case-insensitive comparison
    if password.lower() == 'open sesame':
        print("You're in!")
        break

## Please `continue`...

Lastly, we can interrupt a loop with a `continue` statement, which tells Python to leave the current iteration of the loop and start back up at the top

In [ ]:
wishes = 3
while wishes > 0:
    wish = input('Make a wish: ')
    if 'infinite wishes' in wish.lower():
        print('You can\'t do that!')
        continue
    else:
        print('Wish granted.')
    wishes -= 1
print('You have used all your wishes.')

# References

- Bostroem, Bekolay, and Staneva (eds): "Software Carpentry: Programming with Python" Version 2016.06, June 2016, https://github.com/swcarpentry/python-novice-inflammation, 10.5281/zenodo.57492.
- Chapter 8, 9, and 11, Gries, Campbell, and Montojo, 2017, *Practical Programming: An Introduction to Computer Science Using Python 3.6*