# February 4th 2025
## Live Learning Session

In [18]:
print("hello world")

hello world

In [19]:
print("data science institute!")

data science institute!

In [20]:
type(6)

int

In [21]:
type(3.0)

float

In [22]:
5+6

11

- Division operator (/): return float to maintain precision in division operators
- Floor division operator (//): divide the first operand by the second and return

In [23]:
10/3

3.3333333333333335

In [24]:
10//3

3

In [25]:
14/3

4.666666666666667

In [26]:
14//3

4

In [27]:
10%3

1

In [28]:
14 % 3

2

In [29]:
10 ** 3

1000

In [30]:
2 ** 2

4

In [31]:
10%3

1

Comparison operators

Python has comparison operators as well as arithmetic operators. Unlike arithmetic expressions, which produce integer or float values, comparison expressions produce a Boolean value.

Operator	Description
>	Greater than
>=	Greater than or equal to
<	Less than
<=	Less than or equal to
==	Equal to
!=	Not equal to

In [32]:
50 > 25

True

In [33]:
-15 >= 14.99

False

In [34]:
20 == 20

True

In [35]:
30 != 100

True

Operator precedence

Arithmetic and comparison operators are evaluated in the following order. We can enclose operations in parentheses to override the order of precedence -- operations in parentheses are evaluated before the rest of the expression.

Order	Operator	Description
1	**	Exponentiation
2	-	Negation
3	*, /, //, %	Multiplication, division, integer division, and modulo
4	+, -	Addition and subtraction
5	<, <=, >, >=, ==, !=	Less than, less than or equal to, greater than, greater than or equal to, equal, not equal

In [ ]:
# variable names can have letters, digits, and underscores
# cannot start with a digit
# case sensitive (e.g., variable and Variables)

In [36]:
degrees_celsius = 25

In [37]:
degrees_celsius

25

In [53]:
degrees_fahrenheit = (9 / 5) * degrees_celsius + 32

In [42]:
degrees_fahrenheit

77.0

In [54]:
(9 / 5) * 25 + 32

77.0

In [44]:
degrees_celsius = 0

In [47]:
degrees_fahrenheit

32.0

In [50]:
degrees_celsius = degrees_celsius + 10

In [55]:
degrees_celsius

20

In [51]:
a = 1

In [52]:
a

1

In [56]:
b = 1

In [57]:
b

1

In [58]:
a = 2

In [59]:
a

2

In [60]:
b

1

In [61]:
b = a

In [62]:
b

2

In [68]:
#Augmented assignment

degrees_celsius = 0
degrees_celsius += 10 # same as: degrees_celsius = degrees_celsius + 10
degrees_celsius

10

In [67]:
degrees_celsius = 0
degrees_celsius -= 10 # same as: degrees_celsius = degrees_celsius - 10
degrees_celsius

-10

In [69]:
# errors called traceback
# examples of common errors
12 = x #syntax error; variable name cannot start with a digit

SyntaxError: cannot assign to literal (1365281416.py, line 3)

In [70]:
25 - # opperand beside - is missing

SyntaxError: invalid syntax (2016117506.py, line 1)

In [71]:
my_variable # name error: didn't assign any value to this

NameError: name 'my_variable' is not defined

# Readability

In [72]:
# Readability

#  white spaces: a space on either side of an opperand, split code across multiple 
# lines by wrapping it in parenthesis 

# comments: communicate the gist of a program and explain completicated sections
# of code, toggle line of code and off

# clear and consistent variable names: descriptive variable names, 
# consistent naming

# Functions
## Built-in functions

In [73]:
#fundtion is a block of code that performs a task
print (42)

42

In [74]:
print("It's Tuesday!")

It's Tuesday!

In [75]:
# help is a built in function that will provide instructions/guidelines

help

Type help() for interactive help, or help(object) for help about object.

In [76]:
type(42)

int

In [77]:
abs (-43) #absolute values

43

In [79]:
2/3

0.6666666666666666

In [80]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [83]:
round (2/3) #rounds a number to a given prevision in decimal digits

1

In [84]:
round(2/3, 5) #rounds to that number of end digits which is 5

0.66667

In [85]:
int (3.99)

3

In [86]:
float (7)

7.0

## Nesting functions

In [87]:
2*1.5

3.0

In [88]:
round(3.0)

3

In [89]:
type(3)

int

# Writing our own functions

In [90]:
# start with a definition function "def function_name"
# parameter is a variable used only within a function
# when we pass an argument to a function the argument value is assigned 
# to a corresponding parameter

In [94]:
def c_to_f(degrees_c): # write def, then add function name; colon is important to add
    degrees_f = (9 / 5) * degrees_c + 32 # body 
    return degrees_f # return output
# only defined the function here have not called it

In [92]:
c_to_f(100) # argument is 100; called the funtion; 100 is being assigned to function

212.0

In [93]:
c_to_f(-11)

12.2

In [98]:
freezing_f = c_to_f (0)

In [99]:
freezing_f

32.0

In [102]:
# functions can also have multiple parameters

def divide(dividend, divisor):
    result = dividend / divisor
    return result # if you didn't have a result python would return 'none'

In [103]:
divide(0, 2) # 0 is assigned to dividend, and 2 is assigned to divisor

0.0

In [105]:
divide(2, 0) # gives an error because diving by 0; order matters

ZeroDivisionError: division by zero

In [106]:
def calc_sales_tax(price, tax_rate=0.13):
    tax_amt = price * tax_rate
    return tax_amt

In [107]:
calc_sales_tax(5) # argument 5 will be assigned to price

0.65

In [108]:
5 * 0.13

0.65

In [109]:
calc_sales_tax (5, .08) # .08 is assigned to tax_rate which is the second argument

0.4

In [110]:
5 * 0.08

0.4

In [112]:
def calc_total_bill(price, tax_rate=0.13, tip_rate=0.2):
    tax_amt = price * tax_rate
    tip_amt = price * tip_rate
    total_cost = price + tax_amt + tip_rate
    return total_cost

In [118]:
calc_total_bill (100)

113.2

In [117]:
calc_total_bill(100, 0.15)

115.2

In [119]:
 100 + 100 * 0.15 + 100 * 0.20

135.0

In [ ]:
calc_total_bill(100, tip_rate= 0.15)

In [120]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)

In [124]:
# defining a docstring. add three single quotations
def c_to_f(degrees_c):
    '''Covert degrees from Celcius to Fahrenheit'''
    return ((9/5) * degrees_c + 32)

In [122]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)
    Covert degrees from Celcius to Fahrenheit

In [ ]:
#local scope - where the parameters cannot be called outside of the variable
#globe scope - can be called outside of the function