In [10]:
year = 1997

if year >= 2000:
    print('We are in the 21st century')
elif year >= 1900:
    print('We are in the 20th century')
else:
    print ('We are not in the 21th or 20th century')

We are in the 20th century

In [11]:
def eye_exam_covered(age, qualifying_condition, time_since_last_exam):
    '''Age -> integer:
    qualifying_condition ->  boolean;
    time_since_last_exam -> integer'''

    if age <= 19:
        if time_since_last_exam >= 12:
            return "You are eligible for 1 major eye exam and any minor asessments"
        else:
            return "It hasn't been 12 months since your last major eye exam"
    elif 20 <= age <= 64:
        if qualifying_condition:
            if time_since_last_exam >= 12:
                return "You are eligible for 1 major eye exam and 2 additional follow up minor assessments"
            else:
                return "It hasn't been 12 months since your last major eye exam"
        else:
            return "You do not have an eligible medical condition affecting your eyes"
    elif age >= 65:
        if time_since_last_exam >= 18:
            return "You are eligible for 1 major eye exam and 2 additional follow-up minor assessments"
        else:
            return "It hasn't been 18 months since your last major eye exam"
    else:
        return "Invalid age input"

In [12]:
eye_exam_covered (27, True, 15)

'You are eligible for 1 major eye exam and 2 additional follow up minor assessments'

In [13]:
eye_exam_covered(19, False, 11)

"It hasn't been 12 months since your last major eye exam"

# List

In [40]:
#lists

# create a list by putting values in square brackets

vowels = ['a', 'e', 'i', 'o', 'u']
print(f'{vowels} are vowels.')

['a', 'e', 'i', 'o', 'u'] are vowels.

In [ ]:
# coventional way
empty_list = []

print(empty_list)

[]

In [17]:
empty_list2 = list ()
print(empty_list2)

[]

In [18]:
scores = [ 90, 80, 91, 80]

In [19]:
grades = ['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [20]:
summary_functions = [len, sum, max, min]

In [21]:
mystery_solvers = [
    ['Sherlock', 'Watson'],
    ['Scooby', 'Shaggy', 'Fred', 'Velma', 'Daphne'],
    'Nancy'
]

In [ ]:
# similar to slicing 
# list is ordered -> each item in a list can be referenced by its index or postion

grades [0]

'K'

In [24]:
grades[6:9] # K is index is 0, 1 =1, 2=2, 3=3.... index 6  to 8 but not 9

[6, 7, 8]

In [27]:
grades[-4:] # go all the way from 9 to the end

[9, 10, 11, 12]

In [28]:
grades[13] # index something that doesn't exist it will lead to an error

IndexError: list index out of range

In [41]:
vowels

['a', 'e', 'i', 'o', 'u']

In [42]:
'dog' in 'I like my dog'

True

In [43]:
e in vowels

NameError: name 'e' is not defined

In [44]:
# strings are immutable

keli = 'cheese sandwich'
kaylie = keli

In [45]:
keli

'cheese sandwich'

In [46]:
kaylie

'cheese sandwich'

In [47]:
keli = 'ham sandwich'

In [48]:
keli

'ham sandwich'

In [49]:
kaylie

'cheese sandwich'

In [59]:
keli_sandiwch = ['bread', 'cheese', 'bread'] #mutable values updates assigned codes

In [52]:
kaylie_sandwich = keli_sandiwch

In [53]:
keli_sandiwch

['bread', 'cheese', 'bread']

In [55]:
kaylie_sandwich

['bread', 'cheese', 'bread']

In [56]:
keli_sandiwch[1] = 'ham'

In [57]:
keli_sandiwch

['bread', 'ham', 'bread']

In [58]:
kaylie_sandwich

['bread', 'ham', 'bread']

In [60]:
a = 1

In [61]:
b = 1

In [62]:
1

1

In [63]:
b

1

In [71]:
a = [1, 2]
b = a

In [72]:
b = [1, 2]

In [73]:
a

[1, 2]

In [74]:
b

[1, 2]

In [75]:
a[0] = 6

In [76]:
a

[6, 2]

In [77]:
b

[1, 2]

In [ ]:
# immutable: int, floats, strings, booleans
# mutable: lists

In [78]:
combo = ['burger', 'fries', 'drink']
kid_meal = list(combo)

In [79]:
combo

['burger', 'fries', 'drink']

In [81]:
kid_meal

['burger', 'fries', 'drink']

In [82]:
combo[0] = 'chicken sandwich'

In [84]:
kid_meal # this does not updaate because combo and ked_meal are two separate stored memory

['burger', 'fries', 'drink']

In [85]:
# mutating lists

perfect_squares = [1, 4, 9, 16, 25, 37, 49]

In [86]:
perfect_squares[5] = 36
perfect_squares

[1, 4, 9, 16, 25, 36, 49]

In [87]:
len(perfect_squares)

7

In [89]:
max(perfect_squares)

49

In [91]:
perfect_squares

[1, 4, 9, 16, 25, 36, 49]

In [92]:
sum(perfect_squares)

140

In [93]:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
characters = letters + numbers
characters

['a', 'b', 'c', 1, 2, 3]

In [94]:
1+5

6

In [95]:
letters * 2

['a', 'b', 'c', 'a', 'b', 'c']

In [ ]:
numbers * 4 # repeating four times

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
characters # the original lists were not mutated

['a', 'b', 'c', 1, 2, 3]

In [98]:
rainbow = ['red', 'orange', 'yellow', 'green', ' light blue', 'blue', 'violet']
rainbow

['red', 'orange', 'yellow', 'green', ' light blue', 'blue', 'violet']

In [ ]:
# the append(): used to add a single element to the end of a list
# take one argument which is the element to be added to the list
# when you use append(), the argument is added as it is, whether it's a
# single value or another list
rainbow.append('purple')

In [ ]:
rainbow # the original list has been motified

['red', 'orange', 'yellow', 'green', ' light blue', 'blue', 'violet', 'purple']

In [106]:
rainbow.append ('purple')

In [107]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 ' light blue',
 'blue',
 'violet',
 'purple',
 'magenta',
 'pink',
 'purple']

In [ ]:
# extend(): used to add elemtns from an iterable (list, tuple, etc.) to the 
# end of a list
# take one argument which is an iterable
# unpack the elements of the iterable and add them one by one ot the end of the 
# orginal list

In [109]:
rainbow.extend(['magenta', 'pink'])

In [110]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 ' light blue',
 'blue',
 'violet',
 'purple',
 'magenta',
 'pink',
 'purple',
 'magenta',
 'pink']

In [ ]:
rainbow.extend('pale pink') # will extend each letter

In [113]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 ' light blue',
 'blue',
 'violet',
 'purple',
 'magenta',
 'pink',
 'purple',
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k']

In [117]:
new_rainbow = rainbow.append('dark purple') # modifying the original list not returning

In [115]:
print(new_rainbow)

None

In [116]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 ' light blue',
 'blue',
 'violet',
 'purple',
 'magenta',
 'pink',
 'purple',
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'dark purple']

In [120]:
rainbow.remove('p') # only removes the first p in this case 'p'ale is removed

In [119]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 ' light blue',
 'blue',
 'violet',
 'purple',
 'magenta',
 'pink',
 'purple',
 'magenta',
 'pink',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k',
 'dark purple',
 'dark purple']

In [122]:
del rainbow[-20:]

In [124]:
rainbow

['red', 'orange']

In [125]:
rainbow.clear() # completely remove the list

In [126]:
rainbow

[]

# Sorting lists

In [128]:
fruits = ['pineapple', 'apple', 'kiwi', 'banana']
print(fruits.sort())

None

In [ ]:
print(fruits) # sorting the list

['apple', 'banana', 'kiwi', 'pineapple']

In [131]:
veggies = ['potato', 'celery', 'cabbage', 'bell pepper', 'onion']
print(sorted(veggies))

['bell pepper', 'cabbage', 'celery', 'onion', 'potato']

In [133]:
veggies

['potato', 'celery', 'cabbage', 'bell pepper', 'onion']

In [ ]:
# defining sorting criteria
# sorting based on the last letter


def last_letter(text):
    return text[-1]

sorted(veggies, key=last_letter)

['cabbage', 'onion', 'potato', 'bell pepper', 'celery']

In [ ]:
# by defalt numerical data types are sorted in ascending order
# strong will be sorted alphabetically based on the Unicode
# opitonal key argument where we can pass a function to define how we want to sort that list

In [ ]:
students_per_class = [['Grade 9', 20], ['Grade 10', 17], ['Grade 11', 13]]

In [137]:
sorted(students_per_class)

[['Grade 10', 17], ['Grade 11', 13], ['grade 9', 20]]

In [138]:
def second_element(item):
    return item[1]

students_per_class.sort(key = second_element)

In [140]:
students_per_class

[['Grade 11', 13], ['Grade 10', 17], ['grade 9', 20]]

In [141]:
# sorting in reverse

sorted(veggies, reverse=True)

['potato', 'onion', 'celery', 'cabbage', 'bell pepper']

In [142]:
sorted(veggies)

['bell pepper', 'cabbage', 'celery', 'onion', 'potato']

# Tuples

In [143]:
# tuples collections of values
# ordered 
# immutable: they cannot be changed once they are created

In [144]:
mutable_synonms = ('changeable', 'fluctuating', 'inconstant', 'variable')

In [145]:
mutable_synonms

('changeable', 'fluctuating', 'inconstant', 'variable')

In [ ]:
# conventional method
empty_tuple = ()

In [147]:
type(empty_tuple)

tuple

In [148]:
empty_tuple2 = tuple()

In [149]:
type(empty_tuple2)

tuple

In [152]:
empty_tuple.append('hi') # will retun an error because tuples are ordered

AttributeError: 'tuple' object has no attribute 'append'

In [153]:
len(mutable_synonms)

4

In [154]:
sorted(mutable_synonms)

['changeable', 'fluctuating', 'inconstant', 'variable']

In [155]:
mutable_synonms + ('modifiable', 'shifting')

('changeable',
 'fluctuating',
 'inconstant',
 'variable',
 'modifiable',
 'shifting')

In [156]:
mutable_synonms # original list will be the same

('changeable', 'fluctuating', 'inconstant', 'variable')

In [ ]:
# Sets 
# sets collections of values 
# have curly brackets
# unordered and distinct
# unordered: elements do not maintain any specific order
# distinct: all elements are unique
# mutable

In [158]:
things = {'coat', 'lock', 'box', 'book', 'apple', 'hair', 'xylophone', 'lock', 'book'}

In [ ]:
things # each element is unique there are not repeats

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [165]:
postal_codes = ['M5R', 'M5V', 'M1M', 'M1M', 'M1T']
set(postal_codes)

{'M1M', 'M1T', 'M5R', 'M5V'}

In [166]:
set(postal_codes)

{'M1M', 'M1T', 'M5R', 'M5V'}

In [167]:
empty_set = set ()

In [168]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [169]:
'potato' in things

False

In [170]:
things.add('lock')

In [172]:
things #adding lock will not change anything because the set contains all the unique values

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [173]:
things.add('mirror')

In [ ]:
things # mirror wasn't in the set before and it is a unique value so it will be added

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'mirror', 'xylophone'}

In [ ]:
things[1] # sets are unordered so this will return as an error. Can't slice its indecies

TypeError: 'set' object is not subscriptable

In [178]:
# set operations

rainbow = {'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violent'}
olympic_flag = {'red', 'green', 'yellow', 'blue', 'black'}

In [ ]:
# difference operator is going to find the values in the first set that are not in the 
# second set

In [180]:
print(f'In the rainbow but not the Olympic flag: {rainbow.difference(olympic_flag)}')

In the rainbow but not the Olympic flag: {'indigo', 'orange', 'violent'}

In [181]:
olympic_flag.difference(rainbow)

{'black'}

In [183]:
rainbow

{'blue', 'green', 'indigo', 'orange', 'red', 'violent', 'yellow'}

In [184]:
olympic_flag

{'black', 'blue', 'green', 'red', 'yellow'}

In [182]:
# symmetric difference: find the values that are only in one of two sets

rainbow.symmetric_difference(olympic_flag)

{'black', 'indigo', 'orange', 'violent'}

In [ ]:
# intersection: find the values that the two sets have in common

In [ ]:
rainbow.intersection(olympic_flag) # bringing the values that are common in both sets

{'blue', 'green', 'red', 'yellow'}

In [187]:
# union: combine the two sets to get the unique values in both

In [188]:
rainbow.union(olympic_flag)

{'black', 'blue', 'green', 'indigo', 'orange', 'red', 'violent', 'yellow'}

In [189]:
rainbow

{'blue', 'green', 'indigo', 'orange', 'red', 'violent', 'yellow'}

In [190]:
olympic_flag

{'black', 'blue', 'green', 'red', 'yellow'}