In [1]:
def divide(dividend, divisor):
    result = dividend / divisor
    return result

In [2]:
divide(0, 2) # 0 is assigned to dividend, 2 assigned to divisor

0.0

In [3]:
divide(10, 5)

2.0

In [4]:
divide(2, 0) # 2 dividend, 0 is divisor

ZeroDivisionError: division by zero

In [5]:
def calc_sales_tax(price, tax_rate=0.13):
    sales_tax = price * tax_rate
    return sales_tax

In [6]:
calc_sales_tax(5)

0.65

In [7]:
5 * 0.13

0.65

In [8]:
calc_sales_tax(5, 0.08)

0.4

In [9]:
5 * 0.08

0.4

In [10]:
calc_sales_tax(5)

0.65

In [11]:
def calc_total_bill(price, tax_rate=0.13, tip_rate=0.15):
    '''Calculate total bill with tax and tip.'''
    tax = price * tax_rate
    tip = price * tip_rate
    total = price + tax + tip
    return total

In [12]:
calc_total_bill(200)

256.0

In [13]:
calc_total_bill(200, 0.18)

266.0

In [14]:
calc_total_bill(200, tip_rate=0.18)

262.0

In [15]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [16]:
help(calc_total_bill)

Help on function calc_total_bill in module __main__:

calc_total_bill(price, tax_rate=0.13, tip_rate=0.15)
    Calculate total bill with tax and tip.

In [17]:
help(calc_total_bill)

Help on function calc_total_bill in module __main__:

calc_total_bill(price, tax_rate=0.13, tip_rate=0.15)
    Calculate total bill with tax and tip.

In [18]:
x = 10

In [19]:
x

10

In [20]:
output = 60

In [21]:
output

60

In [22]:
favourite_food = "mashed potatoes"

In [23]:
favourite_food

'mashed potatoes'

In [24]:
'mashed potatoes'

'mashed potatoes'

In [25]:
"mashed potatoes'

SyntaxError: unterminated string literal (detected at line 1) (3453317070.py, line 1)

In [26]:
'Let's see if this works

SyntaxError: invalid syntax (1618629434.py, line 1)

In [27]:
"Let's see if this works"

"Let's see if this works"

In [29]:
"""I am a multiline string

I span over many
many
many
lines 
of 
code
"""

'I am a multiline string\n\nI span over many\nmany\nmany\nlines \nof \ncode\n'

| Escape sequence | Description        |
|-----------------|--------------------|
| \\'             | Single quote       |
| \\"             | Double quote       |
| \\\\            | Backslash          |
| \\t             | Tab                |
| \\n             | Newline            |

In [45]:
print("This is \ta tab")

This is 	a tab

In [47]:
print("This is\na newline")

This is
a newline

In [49]:
print("This is \\ a backslash")

This is \ a backslash

In [50]:
print("This is \" a double quote")

This is " a double quote

In [52]:
print("Xindi said \"hi!\"")

Xindi said "hi!"

In [53]:
1 + 1

2

In [54]:
'hello' + ' world'

'hello world'

In [55]:
'ha' * 3

'hahaha'

In [56]:
'hello' + 2020

TypeError: can only concatenate str (not "int") to str

In [59]:
20 == 20

True

In [57]:
'apple' == 'Apple'

False

In [58]:
'apple' != 'Apple'

True

In [60]:
'20' == 20

False

In [61]:
first_name = 'Ada'
last_name = 'Lovelace'

In [64]:
first_name[2]

'a'

In [65]:
last_name[6]

'c'

In [66]:
last_name[1:5]

'ovel'

In [67]:
last_name[3:5]

'el'

In [68]:
last_name[0:6]

'Lovela'

In [69]:
last_name[:6]

'Lovela'

In [70]:
last_name[3:]

'elace'

In [71]:
last_name[:]

'Lovelace'

In [77]:
last_name[-3:-1]

'ac'

In [78]:
last_name[1:6:2]

'oea'

In [79]:
last_name[-1:-5:-1]

'ecal'

In [81]:
phone_number = '+1 555-123-4567'

In [82]:
phone_number[3:6]

'555'

In [83]:
print(1, "fish", 2, "fish")

1 fish 2 fish

In [84]:
len("gnaldkfgjalfnklasmkflmaklsmlak")

30

In [86]:
sorted("banana")

['a', 'a', 'a', 'b', 'n', 'n']

In [87]:
'I am not yelling'.upper()

'I AM NOT YELLING'

In [88]:
'This string is unusual'.count('e')

0

In [90]:
'file_name.xlsx'.endswith('.csv')

False

In [91]:
'long file name with spaces.csv'.replace(' ', '_')

'long_file_name_with_spaces.csv'

In [92]:
first_name

'Ada'

In [93]:
last_name

'Lovelace'

In [ ]:
# formatting strings

# .format() string method

'Ada Lovelace\'s initials are {}. {}.'.format(first_name[0], last_name[0])

"Ada Lovelace's initials are A. L."

In [99]:
day_of_week = 'Wednesday'

'My favourite day of the week is {}.'.format(day_of_week)

'My favourite day of the week is Wednesday.'

In [102]:
# f-string

f'Ada Lovelace\'s initials are {first_name[0]}. {last_name[0]}.'

"Ada Lovelace's initials are A. L."

In [104]:
favourite_sport = 'skiing'

f'My favourite sport is {favourite_sport}'

'My favourite sport is skiing'

In [ ]:
# String to integer

In [106]:
type(int('17'))

int

In [107]:
int('17.4')

ValueError: invalid literal for int() with base 10: '17.4'

In [108]:
int('me')

ValueError: invalid literal for int() with base 10: 'me'

In [109]:
# String to float

float('892')

892.0

In [110]:
float('you')

ValueError: could not convert string to float: 'you'

In [ ]:
# float and int to string

In [111]:
str(37.5)

'37.5'

In [112]:
str(20)

'20'

In [113]:
'20' + str(37.5)

'2037.5'

In [122]:
age = input('How old are you? ')

In [123]:
age

'1000'

In [127]:
age_next_bday = int(age) + 1

In [125]:
age_next_bday

1001