# Comments and Errors
## Practice Problems

### 1. Which of these expressions results in an error? Why does each error occur?

In [1]:
((((5 * 4 ** 7))))

81920

<details>
  <summary>Answer</summary>

  Valid -- Python accepts extraneous parentheses.
</details>

In [2]:
84 *= 0.5 / 7

SyntaxError: 'literal' is an illegal expression for augmented assignment (868797654.py, line 1)

In [ ]:
value = 84
value *= 0.5 / 7

SyntaxError: 'literal' is an illegal expression for augmented assignment (868797654.py, line 1)

<details>
  <summary>Answer</summary>

  Error -- Python thinks we are trying to assign a value to 84, which is an integer literal. We can't change its value!
</details>

In [7]:
(-(-(-(-5 * (4 + 3)))))

35

<details>
  <summary>Answer</summary>

  Answer: Valid -- The `-` negates the value in the parentheses.
</details>

In [14]:
weight = 20
5 * 3 == weight

False

In [11]:
5 * 3 == 20

False

<details>
  <summary>Answer</summary>

  Error -- We cannot assign a value to an expression, even if `weight` had been defined.
</details>

In [15]:
73 / -----------5

-14.6

<details>
  <summary>Answer</summary>

  Valid -- negatives cancel each other out.
</details>

### 2. Write a block of code to check if the value is a string. If it is, print out a message saying it is valid. Otherwise, raise an exception with a message saying the value must be a string.

In [26]:
value = 6

if type(value) == str:
    print("It is valid!")
else:
    raise TypeError("The value must be a string!")

TypeError: The value must be a string!

<details>
  <summary>Answer</summary>

  ```python
  value = 6

  if type(value) == str:
    print("It is valid!")
  else:
    raise TypeError("The value must be a string!")
  ```
</details>

### 3. What are the following errors?

```python
arr = [1, 2, 3]
print(arr[3])
```

<details>
  <summary>Answer</summary>

  IndexError
</details>

In [27]:
fullName = "Taylor Swift" 
print(full_name)

NameError: name 'full_name' is not defined


```python
fullName = "Taylor Swift"
print(full_name)
```

<details>
  <summary>Answer</summary>

  NameError
</details>

In [28]:
2 + '2' + 4

TypeError: unsupported operand type(s) for +: 'int' and 'str'



```python
2 + '2' + 4
```

<details>
  <summary>Answer</summary>

  TypeError
</details>