In [1]:
def c_to_f(degrees_c):
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

In [2]:
c_to_f(100)

212.0

In [4]:
def divide(dividend, divisor):
    output = dividend / divisor
    return output

In [5]:
divide(0, 2)

0.0

In [6]:
divide(2, 0)

ZeroDivisionError: division by zero

In [14]:
def calc_sales_tax(price, tax_rate=0.13):
    tax_amt = price * tax_rate
    return tax_amt

In [15]:
calc_sales_tax(5)

0.65

In [9]:
5 * 0.13

0.65

In [10]:
calc_sales_tax(5, .08)

0.4

In [11]:
5 * 0.08

0.4

In [16]:
def calc_total_bill(price, tax_rate=0.13, tip_rate=0.15):
    tax_amt = price * tax_rate
    tip_amt = price * tip_rate
    total_price = price + tax_amt + tip_amt
    return total_price

In [17]:
calc_total_bill(100)

128.0

In [18]:
100 + (100 * 0.13) + (100 * 0.15)

128.0

In [19]:
calc_total_bill(100, 0.18)

133.0

In [20]:
100 + (100 * 0.18) + (100 * 0.15)

133.0

In [21]:
calc_total_bill(100, tip_rate=0.18)

131.0

In [22]:
100 + (100 * 0.13) + (100 * 0.18)

131.0

In [23]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [24]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)

In [25]:
def c_to_f(degrees_c):
    '''Convert degrees from Celsius  to Fahrenheit'''
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

In [26]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)
    Convert degrees from Celsius  to Fahrenheit

In [27]:
degrees_c

NameError: name 'degrees_c' is not defined

In [28]:
boiling_c = 100

In [29]:
boiling_c

100

In [ ]:
# string are Python's text data type
# sequences of characters, including digits and symbols
# surrounded by quotation marks (either single or double)

In [30]:
'This is a string'

'This is a string'

In [31]:
"This is also a string"

'This is also a string'

In [32]:
"these quotes do not match'

SyntaxError: unterminated string literal (detected at line 1) (1479919974.py, line 1)

In [33]:
'Let's see if this works'

SyntaxError: unterminated string literal (detected at line 1) (3205553238.py, line 1)

In [34]:
"Let's see if this works now"

"Let's see if this works now"

In [36]:
"Kaylie said, "Hi""

SyntaxError: invalid syntax (1086879395.py, line 1)

In [35]:
'Kaylie said, "Hi!"'

'Kaylie said, "Hi!"'

In [39]:
'''
This is a multiline string

It is very handy when you want text to span over multiple lines
of code!
'''

'\nThis is a multiline string\n\nIt is very handy when you want text to span over multiple lines\nof code!\n'

In [41]:
# escape sequences are combinations of characters 
# that mean something else

print("This is an example of a \ttab")

This is an example of a 	tab

In [ ]:
print('Kaylie\'s favourite food is ice cream!')

Kaylie's favourite food is ice cream!

In [46]:
print("Kaylie says, \"Hi!\"")

Kaylie says, "Hi!"

In [56]:
# expected output: "And\tor"

print('And\\tor')

And\tor

In [53]:
print("Today is April \r30th") #carriage return

30thy is April

In [58]:
1 + 4

5

In [59]:
'hello' + ' ' + 'world'

'hello world'

In [60]:
1 * 3

3

In [61]:
'ha' * 3

'hahaha'

In [62]:
'The year is ' + 2020

TypeError: can only concatenate str (not "int") to str

In [63]:
3 == 3

True

In [64]:
'apple' == 'apple'

True

In [65]:
3 == 300

False

In [66]:
'Apple' == 'apple'

False

In [67]:
'20' == 20

False

In [68]:
'Apple' == "Apple"

True

In [69]:
first_name = 'Ada'
last_name = 'Lovelace'

In [72]:
first_name[2]

'a'

In [73]:
last_name[4]

'l'

In [74]:
last_name[0:4]

'Love'

In [75]:
last_name[4:6]

'la'

In [76]:
last_name[:5]

'Lovel'

In [77]:
last_name[2:]

'velace'

In [78]:
last_name[-3]

'a'

In [79]:
print(last_name[1], last_name[5])

o a

In [81]:
phone_number = '+1 555-123-4567'

In [83]:
phone_number[3:6]

'555'

In [85]:
job_qualifications = 'The successful applicant will be proficient in R, Python, SQL, statistics, and data visualization.'

In [87]:
'dinner' in job_qualifications

False

In [88]:
print(1, 'fish', 2, 'fish')

1 fish 2 fish

In [89]:
len('This is a loooooooong')

21

In [90]:
'I am not yelling'.upper()

'I AM NOT YELLING'

In [91]:
'This string is unusual'.count('e')

0

In [92]:
'file_name.csv'.endswith('.csv')

True

In [93]:
'file name with spaces.csv'.replace(' ', '_')

'file_name_with_spaces.csv'

In [95]:
fruit = 'Aa'

# 'A' -> unicode 65
# 'a' -> unicode 97


sorted(fruit)

['A', 'a']

In [96]:
first_name = 'Ada'
last_name = 'Lovelace'

# format method
'Ada Lovelace\'s initials are {}. {}.'.format(first_name[0], last_name[0])

"Ada Lovelace's initials are A. L."

In [97]:
first_name[0]

'A'

In [98]:
last_name[0]

'L'

In [101]:
'My favourite season is {}'.format('winter')

'My favourite season is winter'

In [ ]:
fruit = 'kiwi'
vegetable = 'potato'

# lot of code

# 'My favourite fruit and veg are kiwi and potato, respectively.'
'My favourite fruit and veg are {} and {}, respectively.'.format(fruit, vegetable)

'My favourite fruit and veg are kiwi and potato, respectively.'

In [109]:
first_name

'Ada'

In [110]:
last_name

'Lovelace'

In [111]:
f'Ada Lovelace\'s initials are {first_name[0]}. {last_name[0]}'

"Ada Lovelace's initials are A. L"

In [127]:
season = 'summer'

f'My favourite seasons is {season}.'

'My favourite seasons is summer.'

In [ ]:
# string to integer

# int() function can only conver strings that represent 
# whole numbers into integers

int('17')

17

In [136]:
int('178.4')

ValueError: invalid literal for int() with base 10: '178.4'

In [137]:
int(178.4)

178

In [130]:
int('me')

ValueError: invalid literal for int() with base 10: 'me'

In [131]:
# string to float

float('892')

892.0

In [138]:
float('123.4')

123.4

In [132]:
float('you')

ValueError: could not convert string to float: 'you'

In [133]:
# float and int to string

str(37.5)

'37.5'

In [134]:
str(20)

'20'

In [135]:
'20' + str(37.5)

'2037.5'

In [ ]:
# converting to integers

In [ ]:
int(14.67) # float to int

14

In [140]:
int('17') # string to int

17

In [141]:
int('14.67')

ValueError: invalid literal for int() with base 10: '14.67'

In [ ]:
# converting to floats

In [ ]:
float(9) # int to float

9.0

In [143]:
float('34.5') # string to float

34.5

In [144]:
float('34')

34.0

In [145]:
# converting to string

str(34.5) # float to string

'34.5'

In [146]:
str(40) # int to string

'40'