In [ ]:
# not: negate the truth value of the statement

## `not`

|X|`not` X|
|-|-|
|True|False|
|False|True|

In [1]:
not True

False

In [ ]:
not (3 == 3) # 3 != 3

False

In [ ]:
# and: check if the statements on boths sides are true

## `and`

|X|Y|X `and` Y|
|-|-|-|
|True|True|True|
|False|True|False|
|True|False|False|
|False|False|False|

In [4]:
7 == 7.0

True

In [5]:
32 > 9

True

In [6]:
(7 == 7.0) and (32 > 9)

True

In [7]:
'Python' == 'python' and True

False

In [8]:
is_summer = True
is_sunny = True
is_summer and is_sunny

True

## To avoid confusion and ensure consistent behaviour, it's recommended to use boolean values (`True` or `False`) explicitly when working with logical operations to ensure predictable outcomes based on boolean logic.

**Note that the behavior of the `and` operator returns the first falsy value encountered or the last truthy value if all operands are `true` based on the conditions provided.**

In [ ]:
is_winter = "True" # string with the value "True"
is_cloudy = True # boolean with the value True


is_winter and is_cloudy

True

In [10]:
is_cloudy and is_winter

'True'

In [11]:
"Python" and "python"

'python'

In [12]:
False and "non-empty string"

False

In [13]:
"" and "non-empty-string"

''

In [15]:
0 and 1

0

In [17]:
# or: check if at least one of the statements are trues

## `or`

|X|Y|X `or` Y|
|-|-|-|
|True|True|True|
|False|True|True|
|True|False|True|
|False|False|False|

In [18]:
'Python' == 'python' or True

True

In [19]:
'Python' == 'python'

False

In [20]:
not (7 % 2 == 1) or False

False

In [22]:
not (7 % 2 == 1)

False

**The behavior of the `or` operator returns the first truthy value encountered or the last falsy value if all operands are `False` based on the conditions provided.**

In [ ]:
is_winter = "True"
is_cloudy = True

is_winter or is_cloudy

'True'

| Order | Operator | Description |
|---|---|---|
| 1 | `**` | Exponentiation |
| 2 | `-`| Negation |
| 3 | `*`, `/`, `//`, `%` | Multiplication, division, integer division, and modulo |
| 4 | `+`, `-` | Addition and subtraction |
| 5 | `<`, `<=`, `>`, `>=`, `==`, `!=` | Less than, less than or equal to, greater than, greater than or equal to, equal, not equal |
| 6 | `not` | Not |
| 7 | `and` | And |
| 8 | `or` | Or|

In [25]:
year = 1990

if year >= 2000:
    print('We are in the 21st century.')

In [27]:
year = 2025
if year >= 2000:
    print('We are in the 21st century.')
else:
    print('We are not in the 21st century.')

We are in the 21st century.

In [31]:
year = 2025

if year >= 2000:
    print('We are in the 21st century.')
elif year >= 1900:
    print('We are in the 20th century.')
elif year >= 1800:
    print('We are in the 19th century.')
else:
    print('We have gone way back in time!')

We are in the 21st century.

In [35]:
day_of_week = 'Saturday'

if day_of_week == 'Saturday' or day_of_week == 'Sunday': # True or False
    print('Weekend!')
else:
    print('Weekday')

Weekend!

In [37]:
def eye_exam_covered(age, qualifying_condition, time_since_last_exam):
    '''qualifying_condition is True/False on whether you have an eligible 
    medical condition
    '''
    if age <= 19:
        if time_since_last_exam >= 12:
            return "you are eligible for 1 major eye exam and any minor assessments."
        else:
            return "it hasn't been 12 months since your last major eye exam."
    elif 20 <= age <= 64:
        if qualifying_condition:
            if time_since_last_exam >= 12:
                return "you are eligible for 1 major eye exam & 2 follow-up minor assessments"
            else:
                return "it hasn't been 12 months since your last major eye exam"
        else:
            return "you do not have an eligible medical condition"
    elif age >= 65:
        if time_since_last_exam >= 18:
            return "you are eligible for 1 major eye exam and 2 follow-up minor assessments"
        else:
            return "it hasn't been 18 months since your last major eye exam"
    else:
        return "invalid age input"

In [38]:
eye_exam_covered(19, False, 11)

"it hasn't been 12 months since your last major eye exam."

In [39]:
eye_exam_covered(27, True, 15)

'you are eligible for 1 major eye exam & 2 follow-up minor assessments'

In [40]:
vowels = ['a', 'e', 'i', 'o', 'u']
vowels

['a', 'e', 'i', 'o', 'u']

In [ ]:
empty_list = [] # conventional way
type(empty_list)

list

In [43]:
empty_list2 = list()
type(empty_list2)

list

In [44]:
scores = [90, 80, 82, 91, 80]
grades = ['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
summary_functions = [len, sum, max, min]

In [45]:
mystery_solvers = [
    ['Sherlock', 'Watson'],
    ['Scooby', 'Shaggy', 'Fred', 'Velma', 'Daphne'],
    'Nancy'
]

In [46]:
grades

['K', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [48]:
grades[0]

'K'

In [49]:
grades[6:9]

[6, 7, 8]

In [50]:
grades[-4:]

[9, 10, 11, 12]

In [51]:
grades[1:6]

[1, 2, 3, 4, 5]

In [52]:
grades[13]

IndexError: list index out of range

In [54]:
'kaylie' in 'dan likes to run'

False

In [55]:
vowels

['a', 'e', 'i', 'o', 'u']

In [57]:
'k' in vowels

False

In [58]:
mystery_solvers

[['Sherlock', 'Watson'],
 ['Scooby', 'Shaggy', 'Fred', 'Velma', 'Daphne'],
 'Nancy']

In [61]:
mystery_solvers[0]

['Sherlock', 'Watson']

In [62]:
mystery_solvers[0][0]

'Sherlock'

In [63]:
vowels

['a', 'e', 'i', 'o', 'u']

In [64]:
vowels.index('e')

1

In [65]:
perfect_squares = [1, 4, 9, 16, 25, 37, 49]

In [66]:
perfect_squares

[1, 4, 9, 16, 25, 37, 49]

In [67]:
perfect_squares[5] = 36
perfect_squares

[1, 4, 9, 16, 25, 36, 49]

In [68]:
julia = 'cheese sandwich'
kaylie = julia

In [69]:
julia

'cheese sandwich'

In [70]:
kaylie

'cheese sandwich'

In [71]:
julia = 'ham sandwich'

In [72]:
julia

'ham sandwich'

In [73]:
kaylie

'cheese sandwich'

In [74]:
julia_list = ['bread', 'cheese', 'bread']

In [75]:
kaylie_list = julia_list

In [77]:
julia_list

['bread', 'cheese', 'bread']

In [76]:
kaylie_list

['bread', 'cheese', 'bread']

In [78]:
julia_list[1] = 'ham'

In [79]:
julia_list

['bread', 'ham', 'bread']

In [80]:
kaylie_list

['bread', 'ham', 'bread']

In [81]:
a = 1
b = a

In [82]:
a

1

In [83]:
b

1

In [84]:
a = 2

In [86]:
a

2

In [87]:
b

1

In [88]:
a = [1, 2]

In [89]:
b = a

In [90]:
a

[1, 2]

In [91]:
b

[1, 2]

In [92]:
a[0] = 6

In [93]:
a

[6, 2]

In [94]:
b

[6, 2]

In [95]:
combo = ['burger', 'fries', 'drink']
kid_meal = list(combo)

In [96]:
combo

['burger', 'fries', 'drink']

In [97]:
kid_meal

['burger', 'fries', 'drink']

In [98]:
combo[0] = 'veggie burger'

In [99]:
combo

['veggie burger', 'fries', 'drink']

In [100]:
kid_meal

['burger', 'fries', 'drink']

In [101]:
perfect_squares

[1, 4, 9, 16, 25, 36, 49]

In [102]:
len(perfect_squares)

7

In [103]:
max(perfect_squares)

49

In [104]:
sum(perfect_squares)

140

In [111]:
perfect_squares

[1, 4, 9, 16, 25, 36, 49]

In [105]:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
characters = letters + numbers

In [106]:
characters

['a', 'b', 'c', 1, 2, 3]

In [107]:
letters * 2

['a', 'b', 'c', 'a', 'b', 'c']

In [108]:
numbers * 2

[1, 2, 3, 1, 2, 3]

In [109]:
letters

['a', 'b', 'c']

In [110]:
numbers

[1, 2, 3]

In [112]:
rainbow = ['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet']

In [ ]:
# append will add a single element to the end of a list

rainbow.append('purple')
rainbow

['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'violet', 'purple']

In [114]:
rainbow.append(['purple'])
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple']]

In [ ]:
# extend used to add elements from an iterable to the end of a list
# unpack the elements of an iterable and add them one by one to the end of the original list

In [115]:
rainbow.append(['magenta', 'pink'])
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple'],
 ['magenta', 'pink']]

In [116]:
rainbow.extend(['magenta', 'pink'])

In [117]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple'],
 ['magenta', 'pink'],
 'magenta',
 'pink']

In [118]:
rainbow.extend('pale pink')
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'violet',
 'purple',
 ['purple'],
 ['magenta', 'pink'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k']

In [119]:
rainbow.extend(2.4)

TypeError: 'float' object is not iterable

In [120]:
rainbow.insert(6, 'indigo)')

In [121]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'indigo)',
 'violet',
 'purple',
 ['purple'],
 ['magenta', 'pink'],
 'magenta',
 'pink',
 'p',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k']

In [122]:
rainbow.remove('p')

In [123]:
rainbow

['red',
 'orange',
 'yellow',
 'green',
 'light blue',
 'blue',
 'indigo)',
 'violet',
 'purple',
 ['purple'],
 ['magenta', 'pink'],
 'magenta',
 'pink',
 'a',
 'l',
 'e',
 ' ',
 'p',
 'i',
 'n',
 'k']

In [124]:
del rainbow[-13:]

In [125]:
rainbow

['red', 'orange', 'yellow', 'green', 'light blue', 'blue', 'indigo)', 'violet']

In [126]:
rainbow.clear()
rainbow

[]

In [127]:
rainbow

[]

In [ ]:
# .sort() method

fruits = ['pineapple', 'apple', 'kiwi', 'banana']
print(fruits.sort()) # method returns None

None

In [ ]:
print(fruits) # method sorts/modifies the original list in place

['apple', 'banana', 'kiwi', 'pineapple']

In [ ]:
# sorted() function

veggies = ['potato', 'celery', 'cabbage', 'bell pepper', 'onion']
print(sorted(veggies)) # function returns sorted list

['bell pepper', 'cabbage', 'celery', 'onion', 'potato']

In [ ]:
print(veggies) # function does not modify the original list

['potato', 'celery', 'cabbage', 'bell pepper', 'onion']

In [ ]:
# by default ints and floats will be sorted in ascending order
# strings sorted alphabetically based on the Unicode code point value of each character
# 'A' -> 65
# 'a' -> 97

In [134]:
sorted(['Bacon', 'bun', 'Apple', 'anger'])

['Apple', 'Bacon', 'anger', 'bun']

In [135]:
def last_letter(text):
    return text[-1]

In [136]:
last_letter('kaylie')

'e'

In [137]:
veggies

['potato', 'celery', 'cabbage', 'bell pepper', 'onion']

In [138]:
sorted(veggies, key=last_letter)

['cabbage', 'onion', 'potato', 'bell pepper', 'celery']